<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Geolocation Exploration</title>
</head>
<body>
  <div id="app">
    <div v-if="errorStr">
      Sorry, but the following error
      occurred: {{errorStr}}
    </div>
    
    <div v-if="gettingLocation">
      <i>Getting your location...</i>
    </div>
    
    <div v-if="userMark.position.lat">
      <p>Your location data is {{ userMark.position.lat }}, {{ userMark.position.lng}}</p>
      <p v-if="distance">You are {{ distance }} miles away from Jupiter ({{ jupiter.location }})</p>
      <input type="button" value="test" @click="haversineDistance">
    </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="main.js"></script>
</body>
</html>
